<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: rgb(0, 0, 0); color: white;">
        <center><div style="width: 50%;">
            <h2>Linear Regression Model Representation</h2>
            <p><a href="https://en.wikipedia.org/wiki/Linear_regression">Linear regression</a> is an attractive model because the representation is so simple.</p>
            <p>The representation is a linear equation that combines a specific set of input values (x) the solution to which is the predicted output for that set of input values (y). As such, both the input values (x) and the output value are numeric.</p>
            <p>The linear equation assigns one scale factor to each input value or column, called a coefficient and represented by the capital Greek letter Beta (B). One additional coefficient is also added, giving the line an additional degree of freedom (e.g. moving up and down on a two-dimensional plot) and is often called the intercept or the bias coefficient.</p>
            <p>For example, in a simple regression problem (a single x and a single y), the form of the model would be:</p>
            <p class="" style="text-align: center;">y = B0 + B1*x</p>
            <a href="/home/pro/"><button type="button" class="btn btn-outline-danger">Project</button></a>
        </div></center>
    </body>
</html>